<footer class="border-top bottom-0 mt-5 pt-5">
    <div
        class="container-fluid fw-light d-flex flex-wrap gap-2 justify-content-between"
    >
        <div class="col-md-4 col-lg-3 my-3">
            <div class="heading">
                <h3 class="display-6 py-2">
                    <a href="/" class="text-decoration-none">
                        BiographyHub
                    </a>
                </h3>
                <p class="fw-light">
                    Stay ahead with expert insights on AI, emerging
                    tech, digital marketing strategies, and productivity
                    tools to supercharge your growth.
                </p>
            </div>
            <div class="col-md-12 px-0 my-4">
                <form
                    class="input-group py-3"
                    method="post"
                    action="/auth/subscribe"
                >
                    <div class="input-group">
                        <input
                            class="form-control"
                            type="email"
                            id="emailAddress"
                            name="emailAddress"
                            required
                            placeholder="Email Address"
                        />
                        <!-- when subscribe is clicked, a modal should appear thanking the user for subscribing  -->
                        <button
                            class="btn btn-success btn-lg border"
                            type="submit"
                        >
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-3 list-group my-3">
            <h3 class="fs-4">Categories</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a
                        class="text-secondary text-decoration-none"
                        href="/category/artificial-intelligence"
                    >
                        Artificial Intelligence
                    </a>
                </li>
                <li class="list-group-item">
                    <a
                        class="text-secondary text-decoration-none"
                        href="/category/technology"
                    >
                        Technology
                    </a>
                </li>
                <li class="list-group-item">
                    <a
                        class="text-secondary text-decoration-none"
                        href="/category/digital-marketing"
                    >
                        Digital marketing
                    </a>
                </li>
                <li class="list-group-item">
                    <a
                        class="text-secondary text-decoration-none"
                        href="/category/productivity"
                    >
                        Productivity
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-3 list-group my-3">
            <h3 class="fs-4">Legal</h3>

            <ul class="list-group">
                <li class="list-group-item">
                    <a
                        href="#partnerships"
                        class="text-secondary text-decoration-none"
                        >Patnerships</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="#privacy-policy"
                        class="text-secondary text-decoration-none"
                        >Privacy policy</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="#data-security"
                        class="text-secondary text-decoration-none"
                        >Do not sell my data</a
                    >
                </li>
            </ul>
        </div>
        <div class="col-md-2 list-group my-3">
            <h3 class="fs-4">Advertising</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a
                        href="#advertising#pricing"
                        class="text-secondary text-decoration-none"
                        >Pricing</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="#advertising#affiliate"
                        class="text-secondary text-decoration-none"
                        >Affiliate Marketing</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="/sitemap.xml"
                        class="text-secondary text-decoration-none"
                        >SiteMap</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="footer-socials text-center text-secondary mb-3 mt-5">
        <ul class="d-flex mx-auto justify-content-center gap-3">
            <li class="list-group-item">
                <a href="https://www.instagram.com/simply_sa_ad">
                    <i class="fab fa-2x fa-instagram"> </i>
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://www.github.com/simplysaad">
                    <i class="fab fa-2x fa-github"> </i>
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://x.com/simply_saad?s=09">
                    <i class="fab fa-2x fa-twitter"> </i>
                </a>
            </li>
        </ul>
        <div class="footer-text text-center">
            &copy; <%= new Date().getFullYear() %> biographyHub, inc.
            All rights reserved
        </div>
    </div>
</footer>
