<header id="navBar" class="nav shadow-sm mx-md-2 navbar">
    <div
        class="container-fluid pt-sm-2 d-flex align-items-start justify-content-between flex-wrap flex-md-nowrap"
    >
        <div class="navbar-brand order-1 me-2">
                        <button
                class="btn p-2"
                data-bs-toggle="collapse"
                data-bs-target="#horizontalNav"
                id="navBarToggler"
            >
                <i class="fa fa-bars"></i>
                <span class="d-none sr-only">Login</span>
            </button>
                <span class="">
            <a href="/" class=""> BiographyHub </a>
                </span>
        </div>
        <div
            id="searchContainer"
            class="search-container collapse flex-grow-1 order-3 order-md-2"
        >
          <%- include('./_search.ejs') %>
        </div>
        <div
            class="d-flex order-2 collapse order-md-3 gap-2 navbar-options ms-md-3"
        >
            <button
                data-bs-toggle="collapse"
                data-bs-target="#searchContainer"
                class="btn p-2"
                id="btnToggleSearch"
            >
                <i class="fa fa-search"></i>
                <span class="d-none sr-only">Search</span>
            </button>
                    <button class="btn p-2" id="themeToggler">
                        <i class="fa fa-sun"></i>
                        <span class="d-none sr-only">Toggle theme</span>
                    </button>


        </div>
    </div>
    <div
        id="horizontalNav"
        class="horizontal-nav justify-content-center collapse px-1 mx-aut overflow-x-scroll"
    >
        <ul class="d-flex overflow-x-scroll my-2 px-0 align-items-center gap-2">
            <% categories.forEach((category)=>{ %>

            <li class="nav-item border">
                <a
                    class="nav-link text-capitalize"
                    href="/category/<%= category.slug %>"
                >
                    <%= category.name %>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</header>
