<div class="portrait card overflow-hidden border col-8 col-md-4 col-lg-3">
    <div
        class="card-image placeholder placeholder-wave glass p-5 object-fit-cover"
    >
        <img class="img-fluid" src="./image.jpeg" alt="no image" />
    </div>
    <div class="d-flex flex-column p-2 card-info">
        <span class="text-decoration-underline small card-category">
            Technology
        </span>
        <span class="card-title text-decoration-underline fs-6">
            <a class="" href="#">Lorem ipsum dolor sit</a>
        </span>
        <span class="card-text fw-light small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            totam nobis assumenda...
        </span>
        <span class="card-date py-2 small"> March 2, 2025 </span>
    </div>
</div>
<div
    class="landscape d-flex gap-2 overflow-hidden border col-12 col-md-8 col-lg-5"
>
    <div
        class="card-image col-5 placeholder placeholder-wave placeholder-glow glass object-fit-cover"
    >
        <img
            class="img-fluid object-fit-cover"
            src="./IMG/image.jpeg"
            alt="no image"
        />
    </div>
    <div class="d-flex flex-column p-2 card-info">
        <span class="text-decoration-underline small card-category">
            Technology
        </span>
        <span class="card-title text-decoration-underline fs-6">
            <a class="" href="#">Lorem ipsum dolor sit</a>
        </span>
        <span class="card-text fw-light small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            totam nobis assumenda...
        </span>
        <span class="card-date py-2 small"> March 2, 2025 </span>
    </div>
</div>
<div class="square d-flex gap-2 overflow-hidden border col-8 col-md-3 col-lg-2">
    <div class="d-flex flex-column p-2 card-info">
        <span class="text-decoration-underline small card-category">
            Technology
        </span>
        <span class="card-title text-decoration-underline fs-6">
            <a class="" href="#">Lorem ipsum dolor sit</a>
        </span>
        <span class="card-text fw-light small">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
            totam nobis assumenda...
        </span>
        <span class="card-date py-2 small"> March 2, 2025 </span>
    </div>
</div>
